<div class="jumbotron">
<h1 align="center">Opdatér øl</h1>
<progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>
<div class="container" *ngIf="!loading">

  <h6 id="errorMsg" align="center">{{error}}</h6>

  <form [formGroup]="beerForm" (ngSubmit)="updateBeer()">
    <div class="form-group">
      <div class="col-sm-4 offset-sm-4">
        <label for="name">Øl navn</label>
        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Indtast øl navn" maxlength="32" pattern="^(?!.* {2})(?=\S)(?=.*\S$)[a-zA-Z æøåÆØÅ0-9 ]+$">
      </div>

      <div class="col-sm-8 offset-sm-4">
        <h6 *ngIf="beerForm.get('name').invalid && beerForm.get('name').dirty">Øl navn skal være mellem 0-16 tegn uden efterfulgt mellemrum</h6>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-4 offset-sm-4">
        <label for="description">Øl beskrivelse</label>
        <input type="text" class="form-control" formControlName="description" id="description" placeholder="Indtast øl beskrivelse">
      </div>

      <div class="col-sm-8 offset-sm-4">
        <h6 *ngIf="beerForm.get('description').invalid && beerForm.get('description').dirty">Øl beskrivelse må ikke være tom</h6>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-4 offset-sm-4">
        <label for="price">Øl pris</label>
        <input type="number" class="form-control" formControlName="price" id="price" placeholder="Indtast øl pris" min="0" max="99999">
      </div>

      <div class="col-sm-8 offset-sm-4">
        <h6 *ngIf="beerForm.get('price').invalid && beerForm.get('price').dirty">Øl pris skal være mellem 0-99999</h6>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-4 offset-sm-4">
        <label for="percentage">Øl procent</label>
        <input type="number" class="form-control" formControlName="percentage" id="percentage" placeholder="Indtast øl procent" min="0" max="100">
      </div>

      <div class="col-sm-8 offset-sm-4">
        <h6 *ngIf="beerForm.get('percentage').invalid && beerForm.get('percentage').dirty">Øl procent skal være mellem 0-100</h6>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-4 offset-sm-4">
        <label for="IBU">Øl IBU (Bitterhed)</label>
        <input type="number" class="form-control" formControlName="IBU" id="IBU" placeholder="Indtast øl IBU" min="0" max="120">
      </div>

      <div class="col-sm-8 offset-sm-4">
        <h6 *ngIf="beerForm.get('IBU').invalid && beerForm.get('IBU').dirty">Øl IBU skal være mellem 0-120</h6>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-4 offset-sm-4">
        <label for="EBC">Øl EBC (Farve)</label>
        <input type="number" class="form-control" formControlName="EBC" id="EBC" placeholder="Indtast øl EBC" min="0" max="80">
      </div>

      <div class="col-sm-8 offset-sm-4">
        <h6 *ngIf="beerForm.get('EBC').invalid && beerForm.get('EBC').dirty">Øl EBC skal være mellem 0-80</h6>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4 offset-sm-4">
        <label for="stock">Øl på lager</label>
        <input type="number" class="form-control" formControlName="stock" id="stock" placeholder="Indtast antal øl på lager" min="0">
      </div>

      <div class="col-sm-8 offset-sm-4">
        <h6 *ngIf="beerForm.get('stock').invalid && beerForm.get('stock').dirty">Antal må ikke være tom eller negativ</h6>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4 offset-sm-4">
        <label for="type">Øl type</label>
        <select class="form-control" formControlName="type" id="type">
          <option value="" disabled>Vælg type</option>
          <option *ngFor="let type of types" [value]="type.id">{{type.typeName}}</option>
        </select>
      </div>

      <div class="col-sm-8 offset-sm-4">
        <h6 *ngIf="beerForm.get('type').invalid && beerForm.get('type').dirty">Øl type skal være valgt</h6>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-4 offset-sm-4">
        <label for="brand">Øl mærke</label>
        <select class="form-control" formControlName="brand" id="brand">
          <option value="" disabled>Vælg mærke</option>
          <option *ngFor="let brand of brands" [value]="brand.id">{{brand.brandName}}</option>
        </select>
      </div>

      <div class="col-sm-8 offset-sm-4">
        <h6 *ngIf="beerForm.get('brand').invalid && beerForm.get('brand').dirty">Øl mærke skal være valgt</h6>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-4 offset-sm-4">
        <label for="image">Øl billede</label>
        <input type="file" class="form-control" formControlName="imageURL" id="image" placeholder="Select beer image" accept="image/*" (change)="onFileChange($event)">
      </div>

      <progressbar class="progress" *ngIf="updateLoad" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>

      <div class="col-sm-8 offset-sm-4">
        <a href="{{imageURL}}" *ngIf="!updateLoad && imageURL !== ''">Forrige billede</a>
        <button type="button" class="btn btn-outline-danger" *ngIf="!updateLoad && imageURL !== ''" (click)="clearPreviousImage()">Fjern forrige billede</button>
      </div>
    </div>




    <div class="col text-center">
      <button class="btn btn-success" type="submit" [disabled]="!beerForm.valid || updateLoad">Opdatér</button>
    </div>
  </form>
  <button class="btn btn-info" (click)="goBack();">Gå tilbage</button>

</div>
</div>
