<div class="profile">
  <h1 align="center">Register customer</h1>
  <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>

  <div class="container" *ngIf="!loading">

    <h6 id="errorMsg" align="center">{{error}}</h6>

    <form *ngIf="!foundUserInfo" [formGroup]="userForm" (ngSubmit)="createCustomerInfo()">

      <div class="form-group">
        <div class="col-sm-4 offset-sm-4">
          <label for="fname">Fornavn *</label>
          <input type="text" class="form-control" formControlName="fname" id="fname" placeholder="Indtast fornavn" pattern="^(?!.* {2})(?=\S)(?=.*\S$)[a-zA-Z æøåÆØÅ0-9 ]+$">
        </div>

        <div class="col-sm-8 offset-sm-4">
          <h6 *ngIf="userForm.get('fname').invalid && userForm.get('fname').dirty">Feltet må ikke være tomt</h6>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-4 offset-sm-4">
          <label for="lname">Efternavn *</label>
          <input type="text" class="form-control" formControlName="lname" id="lname" placeholder="Indtast efternavn" pattern="^(?!.* {2})(?=\S)(?=.*\S$)[a-zA-Z æøåÆØÅ0-9 ]+$">
        </div>

        <div class="col-sm-8 offset-sm-4">
          <h6 *ngIf="userForm.get('lname').invalid && userForm.get('lname').dirty">Feltet må ikke være tomt</h6>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-4 offset-sm-4">
          <label for="email">Email *</label>
          <input type="text" class="form-control" formControlName="email" id="email" placeholder="Indtast email" pattern="^.+@[^\.].*\.[a-z]{2,}$">
        </div>

        <div class="col-sm-8 offset-sm-4">
          <h6 *ngIf="userForm.get('email').invalid && userForm.get('email').dirty">Feltet må ikke være tomt</h6>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-4 offset-sm-4">
          <label for="pNumber">Telefon nummer</label>
          <input type="text" class="form-control" formControlName="pNumber" id="pNumber" placeholder="Indtast telefon nummer" pattern="^(?!.* {2})(?=\S)(?=.*\S$)[a-zA-Z æøåÆØÅ0-9 ]+$">
        </div>

        <div class="col-sm-8 offset-sm-4">
          <h6 *ngIf="userForm.get('pNumber').invalid && userForm.get('pNumber').dirty">Feltet må ikke være tomt</h6>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-4 offset-sm-4">
          <label for="streetName">Adresse *</label>
          <input type="text" class="form-control" formControlName="streetName" id="streetName" placeholder="Indtast adresse">
        </div>

        <div class="col-sm-8 offset-sm-4">
          <h6 *ngIf="userForm.get('streetName').invalid && userForm.get('streetName').dirty">Feltet må ikke være tomt</h6>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-4 offset-sm-4">
          <label for="postalCode">Postnummer *</label>
          <input type="number" class="form-control" formControlName="postalCode" id="postalCode" placeholder="Indtast postnummer" pattern="^(?!.* {2})(?=\S)(?=.*\S$)[a-zA-Z æøåÆØÅ0-9 ]+$" min="0" max="9999">
        </div>

        <div class="col-sm-8 offset-sm-4">
          <h6 *ngIf="userForm.get('postalCode').invalid && userForm.get('postalCode').dirty">Feltet skal indeholde et postnummer mellem 0 - 9999</h6>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-4 offset-sm-4">
          <label for="cityName">By *</label>
          <input type="text" class="form-control" formControlName="cityName" id="cityName" placeholder="Indtast by" pattern="^(?!.* {2})(?=\S)(?=.*\S$)[a-zA-Z æøåÆØÅ0-9 ]+$">
        </div>

        <div class="col-sm-8 offset-sm-4">
          <h6 *ngIf="userForm.get('cityName').invalid && userForm.get('cityName').dirty">Feltet må ikke være tomt</h6>
        </div>
      </div>

      <div class="col text-center">
        <button class="btn btn-success" type="submit" [disabled]="!userForm.valid">Create</button>
      </div>
    </form>


  </div>
</div>
