<div class="jumbotron">
<h1 align="center">Update {{type.typeName}}</h1>
<progressbar class="progress center-block" *ngIf="loading && found" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>

<div class="container" *ngIf="!loading">

  <h6 id="errorMsg" align="center">{{error}}</h6>

  <form [formGroup]="typeForm" (ngSubmit)="updateType()">
    <div class="form-group">
      <div class="col-sm-4 offset-sm-4">
        <label for="name">Beer type name</label>
        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter type name" maxlength="16" pattern="^(?!.* {2})(?=\S)(?=.*\S$)[a-zA-Z æøåÆØÅ0-9 ]+$">
      </div>

      <div class="col-sm-8 offset-sm-4">
        <h6 id="error" *ngIf="typeForm.get('name').invalid && typeForm.get('name').dirty">Beer type name must be between 0-16 characters with no trailing whitespace</h6>
      </div>
    </div>

    <div class="col text-center">
      <button class="btn btn-success" type="submit" [disabled]="!typeForm.valid">Update</button>
    </div>
  </form>
  <button class="btn btn-info" (click)="goBack();">Go back</button>

</div>

<div class="container" *ngIf="!found">
  <h2>Beer type not found</h2>
  <button class="update" (click)="goBack();">Go back</button>
</div>
</div>
