<div class="jumbotron">
  <h1 align="center">Om os</h1>
  <div class="container col-sm-4 offset-sm-4">
    <p>Vi er fire medejere tidligere på Ølværket, men nu på Esbjerg Bryghus. Vi gør godt håndværk i at producere den fineste øl, og sætter høj kvalitet for vores kunder.
       Vi er i en konstant vækst og ønsker gerne at forsætte sådan, så længe vi tilbyder noget folket vil nyde. Vi vil være med til at sætte vores mærke på verden.
       Det gøres allerbedst med en kold øl, og godt selvskab! Skål herfra, håber vi ses på Esbjerg Bryghus!</p>
  </div>
</div>
