
<progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>
<div *ngIf="!loading">

<div id="events" class="jumbotron">
  <div class="container">
    <img class="col-sm-4" src="https://firebasestorage.googleapis.com/v0/b/eb-sdm3.appspot.com/o/Dog.jpg?alt=media&token=af58837c-9718-401e-8434-eef5f58965f5">
    <img class="col-sm-4" src="https://firebasestorage.googleapis.com/v0/b/eb-sdm3.appspot.com/o/Food.jpg?alt=media&token=92ee551b-acea-43f6-b821-f6b66a81e04b">
    <img class="col-sm-4" src="https://firebasestorage.googleapis.com/v0/b/eb-sdm3.appspot.com/o/Cat.jpg?alt=media&token=594b0117-f814-44d6-b185-efdcbd0fa960">
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row row-cols-3 row-cols-md-2">

      <div class="col-sm-3" *ngFor="let beer of beers">
        <div class="card">
          <img src="{{beer.imageURL}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title-top">{{beer.name}}</h5>
            <p class="card-percentage">{{beer.percentage}}%</p>
            <p class="card-price">{{beer.price | currency:'DKK '}}</p>
            <button class="btn btn-success float-right" (click)="addItem(beer)">KØB</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</div>
