<div class="jumbotron">
<div class="container">

  <input #searchBox class="col-md-4" (input)="search(searchBox.value)"/>

  <label class="col-md-2">
    Ting pr. side:
    <select class="form-control" [(ngModel)]="itemsPrPage" (ngModelChange)="itemsPrPageUpdate()">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </label>

  <label class="col-md-2">
    Øl type:
    <select class="form-control" [(ngModel)]="BeerType" (ngModelChange)="getBeers()">
      <option value="0">Alle typer</option>
      <option *ngFor="let types of beerTypes" value="{{types.id}}">{{types.typeName}}</option>
    </select>
  </label>

  <label class="col-md-2">
    Sorterings type:
    <select class="form-control" [(ngModel)]="sortingType" (ngModelChange)="getBeers()">
      <option value="ADDED">Nyeste</option>
      <option value="ALF">Alfabetisk</option>
      <option value="IBU">IBU</option>
      <option value="EBC">EBC</option>
    </select>
  </label>

  <label class="col-md-2">
    Sortering:
    <select class="form-control" [(ngModel)]="sorting" (ngModelChange)="getBeers()">
      <option value="asc">Stigende</option>
      <option value="desc">Faldende</option>
    </select>
  </label>

  <h3>Øl Sortiment</h3>
  <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>

  <div class="container">
    <div class="row row-cols-3 row-cols-md-2">

      <div id="cards" class="col-sm-3" *ngFor="let beer of beers">
        <div class="card">
          <img src="{{beer.imageURL}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title-top">{{beer.name}}</h5>
            <p class="card-percentage">{{beer.percentage}}%</p>
            <p class="card-price">{{beer.price | currency:'DKK '}}</p>
            <button class="btn btn-success float-right" [disabled]="shoppingService.isValid(beer)" (click)="addItem(beer)">KØB</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div>
    <div id="pages" class="row">
      <pagination
        [maxSize]="5"
        [directionLinks]="false"
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
        [itemsPerPage]="itemsPrPage"
        (numPages)="smallNumPages = $event">
      </pagination>
    </div>

    <div id="paging" class="row">
      <pager
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
        pageBtnClass="btn"
        previousText="« Back"
        [itemsPerPage]="itemsPrPage"
        class="pull-left">
      </pager>
    </div>
  </div>

</div>
</div>
