<div id="nav-bar">
  <div class="container">
  <ul class= "col-sm-12">
    <li class="nav-bar-route"><a routerLink="/home"><b>Hjem</b></a></li>
    <li class="nav-bar-route"><a routerLink="/shop"><b>Vores Øl</b></a></li>
    <li class="nav-bar-route"><a routerLink="/about-eb"><b>Om Esbjerg Bryghus</b></a></li>
    <li class="nav-bar-route"><a routerLink="/tasting"><b>Ølsmagning</b></a></li>
    <li class="nav-bar-route"><a routerLink=""><b>Om Os</b></a></li>


    <li class="nav-bar-route" *ngIf="!authenticationService.getToken()"><a routerLink="/login"><b>Login</b></a></li>

    <li class="nav-bar-route" *ngIf="authenticationService.getToken()" type="button" placement="bottom" [popover]="popTemplate" [isOpen]="profileOpen" triggers="" (click)="profileOpen = !profileOpen;" (clickOutside)="outsideClick()">
      <a>Profile</a>
    </li>


  </ul>
  </div>
</div>

<ng-template class="template"  #popTemplate>
  <li class="pageover-route" *ngIf="authenticationService.getRole() === 'Admin'"><a (click)="profileOpen = !profileOpen" routerLink="/beers">Opret produkter</a></li>
  <li class="pageover-route"><a routerLink="/profile" (click)="profileOpen = false">Min profil</a></li>
  <li class="pageover-route"><a routerLink="" (click)="profileOpen = false">Mine ordre</a></li>
  <li class="pageover-route"><a routerLink="/login" (click)="profileOpen = false" k>Log ud</a></li>
</ng-template>
