<div class="jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/eb-sdm3.appspot.com/o/EsbjergBryghus-sort.png?alt=media&token=a17d5493-c1bc-43fb-b071-00a658437c1b">
      </div>
      <div id="searchdiv" class="col-sm-4">
        <input class="searchbar form-control" type="text" placeholder="Search" aria-label="Search">
     </div>
      <div id="interactions" class="col-sm-2">
        <img class="facebook" src="https://firebasestorage.googleapis.com/v0/b/eb-sdm3.appspot.com/o/237379011.png?alt=media&token=372386ef-1c13-4ee1-b643-44a51efd036c">
        <img class="login" src="https://firebasestorage.googleapis.com/v0/b/eb-sdm3.appspot.com/o/140134676.png?alt=media&token=9e1c7b1d-78ad-4bd4-b8ef-a15c0e744f6e">
      </div>
      <div id="cartdiv" class="col-sm-2">
        <input class="cart" type="image" src="https://firebasestorage.googleapis.com/v0/b/eb-sdm3.appspot.com/o/cart.png?alt=media&token=db8cf3c7-1991-4a67-8f0b-d6aa5201856b" (click)="collapseCart();"/>
        <p>{{shoppingSerivce.calculateTotal()}}</p>
     </div>
   </div>
  </div>
</div>
