<nav (clickOutside)="closeShoppingCart()" [exclude]="'.cart'" id="sidebar" class="navbar-dark bg-dark" [ngClass]="{'hidden': getCartStatus()}">

  <h4>Total size: {{shoppingService.calculateTotal()}}</h4>
  <h3>Total price: {{shoppingService.calculateTotalPrice()}}</h3>

  <div *ngFor="let orderItem of shoppingService.getItems()">
    <p>{{orderItem.item.name}}</p>
    <input type="number" [(ngModel)]="orderItem.quantity" min="0" max="5" (ngModelChange)="modelChanged(orderItem)"/>
  </div>

  <ul *ngFor="let orderItem of shoppingService.getItems()">
    <li><p>{{orderItem.item.name}} -- {{orderItem.quantity}} ({{orderItem.item.price}})</p></li>
  </ul>

  <button (click)="shoppingService.clearCart();">Reset</button>

</nav>
