#table{
  display: table;
  margin: 20px auto;
}

.table-{

}

a{
  text-decoration: none;
  color: #111111;
}

progressbar{
  width: 300px;
  margin-left: auto;
  margin-right:auto;
}

.data:hover a{
  color: dimgrey;
  cursor: pointer;
}

pagination {
  justify-content: center;
}
