<div class="container">
  <div class="d-flex flex-row justify-content-center">
    <button type="button" class="btn btn-outline-primary" routerLink="/beers">Beers</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/types">Types</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/brands">Brands</button>
  </div>

  <label>
    Items Pr Page:
    <select class="form-control" [(ngModel)]="itemsPrPage" (ngModelChange)="itemsPrPageUpdate()">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </label>

  <label>
    Beer Type:
    <select class="form-control" [(ngModel)]="BeerType" (ngModelChange)="getBeers()">
      <option value="0">All Types</option>
      <option *ngFor="let types of beerTypes" value="{{types.id}}">{{types.typeName}}</option>
    </select>
  </label>

  <input #searchBox id="search-box" (input)="search(searchBox.value)"/>

  <h3 align="center">Beers List:</h3>
  <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>

  <div id="table">
    <table *ngIf="!loading" class="table-">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Beer Type</th>
        <th scope="col">Brand</th>
      </tr>
      <tr class="data" *ngFor="let beer of beers">
        <th class="row"><a routerLink="">{{beer.id}}</a></th>
        <td><a routerLink="">{{beer.name}}</a></td>
        <td><a routerLink="">{{beer.price}}</a></td>
        <td><a routerLink="">{{beer.type.typeName}}</a></td>
        <td><a routerLink="">{{beer.brand.brandName}}</a></td>
        <button type="button" class="btn btn-outline-dark">Update</button>
        <button type="button" class="btn btn-outline-danger" (click)="openDeleteModal(deleteTemplate, beer)">X</button>
      </tr>
    </table>
  </div>

  <div class="col text-center">
    <button class="btn btn-success" routerLink="register">Add beer!</button>
  </div>

  <div class="">
    <div class="row">
      <pagination
        [maxSize]="5"
        [directionLinks]="false"
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
        [itemsPerPage]="itemsPrPage"
        (numPages)="smallNumPages = $event">
      </pagination>
    </div>

    <div class="row">
      <pager
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
        pageBtnClass="btn"
        [itemsPerPage]="itemsPrPage"
        class="pull-left">
      </pager>
    </div>
  </div>

</div>

<ng-template #deleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title w-100 text-center">Confirmation</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <b>{{selectedBeer.name}}</b>?</p>
    <div class="float-right">
      <button (click)="modalRef.hide()" type="button" class="btn btn-secondary" >Cancel</button>
      <button (click)="modalRef.hide(); deleteBeer(selectedBeer.id);" type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
</ng-template>
