<div class="jumbotron">
  <h1 align="center">ØLSMAGNING</h1>
  <div class="container col-sm-6 offset-sm-3">
    <h2 align="center">ØLVÆRKET TILBYDER ØLSMAGNING</h2>
    <p>- Vi vil præsentere jer for i alt 8 øl (á 10 cl i smageglas).<br>
      - Vi vil fortælle om os selv, bryggeriet og vores baggrund for at brygge samt underholdende historier om øl generelt.<br>
      - Ølsmagningen varer ca. 2 timer inklusiv en kort pause.<br>
      - Smagningen kan afholdes privat eller på bryghuset.<br>
      - Ølsmagningen koster 165 kr. pr. deltager (vi tager os betalt for minimum 15 deltagere).<br>
      - Vi kan medbringe tapas herunder pølser, oste og brød for 59 kr. pr. deltager.<br>
      - Såfremt ølsmagningen afholdes udenfor Esbjerg By er kørselstaksten 2 kr. per kilometer ud/hjem.</p>
    <img class="col-sm-12" src="https://firebasestorage.googleapis.com/v0/b/eb-sdm3.appspot.com/o/%C3%98lsmagning.jpg?alt=media&token=e6f6274a-50b6-47e9-b47e-c0bace513e86">
  </div>

</div>

