<div class="jumbotron">
<div class="container">
  <div class="categories">
    <button type="button" class="btn btn-outline-primary" routerLink="/beers">Øl</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/types">Typer</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/brands">Mærker</button>
  </div>

  <input #searchBox class="col-md-3 offset-md-3" (input)="search(searchBox.value)"/>

  <label class="col-md-2 offset-md-1">
    Ting pr. side:
    <select class="form-control" [(ngModel)]="itemsPrPage" (ngModelChange)="itemsPrPageUpdate()">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </label>

  <h3>Øl type liste</h3>
  <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>

  <div id="table" class="d-flex justify-content-center">
    <table *ngIf="!loading">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Beskrivelse</th>
      </tr>
      <tr class="data" *ngFor="let type of types">
        <td><a routerLink="">{{type.id}}</a></td>
        <td><a routerLink="">{{type.typeName}}</a></td>
        <button type="button" class="btn btn-outline-dark" routerLink="/types/update/{{type.id}}">Opdatér</button>
        <button type="button" class="btn btn-outline-danger" (click)="openDeleteModal(deleteTemplate, type)">Slet</button>
      </tr>
    </table>
  </div>

  <div class="col text-center">
    <button class="btn btn-success" routerLink="add">Tilføj type</button>
  </div>

  <div>
    <div id="pages" class="row">
      <pagination
        [maxSize]="5"
        [directionLinks]="false"
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
        [itemsPerPage]="itemsPrPage"
        (numPages)="smallNumPages = $event">
      </pagination>
    </div>

    <div id="paging" class="row">
      <pager
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
        pageBtnClass="btn"
        previousText="« Back"
        [itemsPerPage]="itemsPrPage"
        class="pull-left">
      </pager>
    </div>
  </div>

</div>

<ng-template #deleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title w-100 text-center">Bekræftelse</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Er du sikker på at du vil slette <b>{{selectedType.typeName}}</b>?</p>
    <div class="float-right">
      <button (click)="modalRef.hide()" type="button" class="btn btn-secondary" >Fortryd</button>
      <button (click)="modalRef.hide(); deleteType(selectedType.id);" type="button" class="btn btn-danger">Slet</button>
  </div>
  </div>
</ng-template>
</div>
