<div class="jumbotron">
<h1 align="center">Opdatér {{brand.brandName}}</h1>
<progressbar class="progress center-block" *ngIf="loading && found" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>

<div class="container" *ngIf="!loading">

  <h6 id="errorMsg" align="center">{{error}}</h6>

  <form [formGroup]="brandForm" (ngSubmit)="updateBrand()">
    <div class="form-group">
      <div class="col-sm-4 offset-sm-4">
        <label for="name">Mærke navn</label>
        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Indtast mærke navn" maxlength="16" pattern="^(?!.* {2})(?=\S)(?=.*\S$)[a-zA-Z æøåÆØÅ0-9 ]+$">
      </div>

      <div class="col-sm-8 offset-sm-4">
        <h6 id="error" *ngIf="brandForm.get('name').invalid && brandForm.get('name').dirty">Mærke navn skal være mellem 0-16 uden efterfulgt mellemrum</h6>
      </div>
    </div>

    <div class="col text-center">
      <button class="btn btn-success" type="submit" [disabled]="!brandForm.valid">Opdatér</button>
    </div>
  </form>
  <button class="btn btn-info" (click)="goBack();">Gå tilbage</button>

</div>

<div class="container" *ngIf="!found">
  <h2>Mærke blev ikke fundet</h2>
  <button class="update" (click)="goBack();">Gå tilbage</button>
</div>
</div>
