<div class="jumbotron">

  <progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>

  <div class="container">
    <div class="row">



      <div id="logindiv" class="col-sm-6" *ngIf="!loading">
        <h6 align="center">{{error}}</h6>
        <h1 align="center">Login</h1>

        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <div class="form-group">
            <div class="col text-center">
              <label for="username">Username</label>
              <input type="text" class="form-control" formControlName="username" id="username" placeholder="Enter username">
            </div>

            <div class="col text-center">
              <h6 *ngIf="loginForm.get('username').invalid && loginForm.get('username').dirty">Username is required</h6>
            </div>
          </div>

          <div class="form-group">
            <div class="col text-center">
              <label for="password">Password</label>
              <input type="password" class="form-control" formControlName="password" id="password" placeholder="Enter password">
            </div>

            <div class="col text-center">
              <h6 id="error" *ngIf="loginForm.get('password').invalid && loginForm.get('password').dirty">Password is required</h6>
            </div>
          </div>

          <input type="checkbox" class="checkbox" id="rememberBe" name="saveLogin" [checked]="saveLogin" [(ngModel)]="saveLogin" [ngModelOptions]="{standalone: true}">
          <label class="checkboxLabel" for="rememberBe">Remember me</label>

          <div class="col text-center">
            <button class="btn btn-success" type="submit" [disabled]="!loginForm.valid || loginLoad">Login</button>
          </div>
        </form>

      </div>



      <div class="col-sm-6" *ngIf="!loading">
        <h6 align="center">{{error}}</h6>
        <h1 align="center">Opret bruger</h1>

        <form [formGroup]="registerForm" (ngSubmit)="login()">

          <div class="form-group">
            <div class="col text-center">
              <label for="usernameRegister">Username</label>
              <input type="text" class="form-control" formControlName="username" id="usernameRegister" placeholder="Enter username" pattern="^(?!.* {2})(?=\S)(?=.*\S$)[a-zA-Z æøåÆØÅ 0-9 ]+$">
            </div>

            <div class="col text-center">
              <h6 *ngIf="registerForm.get('username').invalid && registerForm.get('username').dirty">Brugernavn er påkrævet (8-24 tegn)</h6>
            </div>
          </div>

          <div class="form-group">
            <div class="col text-center">
              <label for="passwordRegister">Password</label>
              <input type="password" class="form-control" formControlName="password" id="passwordRegister" placeholder="Enter password">
            </div>

            <div class="col text-center">
              <h6 *ngIf="registerForm.get('password').invalid && registerForm.get('password').dirty">Kodeord er påkrævet (min. 8 tegn)</h6>
            </div>
          </div>

          <div class="form-group">
            <div class="col text-center">
              <label for="passwordConfirm">Gentag Password</label>
              <input type="password" class="form-control" formControlName="passwordConfirm" id="passwordConfirm" placeholder="Enter password">
            </div>

            <div class="col text-center">
              <h6 *ngIf="registerForm.get('passwordConfirm').invalid && registerForm.get('passwordConfirm').dirty">Koden ska være ens makker'</h6>
            </div>
          </div>

          <div class="col text-center">
            <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid || registerLoad">Opret</button>
          </div>
        </form>

      </div>



    </div>

    <button class="btn btn-info" (click)="goBack();">Go back</button>

  </div>
</div>
