<div class="jumbotron">

  <div class="container col-sm-4 offset-sm-4">
  <h1 align="center">Om Esbjerg Bryghus</h1>
    <p>Esbjerg Bryghus er på vej - et samarbejde mellem Ølværket ApS og InWaves med målet om at bringe det gode øl ud til alle i Esbjerg og omegn.<br></p>
  </div>

  <div class="container col-sm-4 offset-sm-4">
    <h2 align="center">Om Ølværket</h2>
    <p>Ølværket er Michael Elis Madsen, Mikkel Ammitzbøll Jensen og Carsten Puggaard Nielsen.<br>Vi producerer ca. 500 liter øl ad gangen, og vi er med i samtlige processer; lige fra opskriften og brygprocessen til tapningen og påsætning af etiketter.<br><br>Bryggeriet har eksisteret siden 2013, og vi står ikke stille. Der er altid noget, der gærer. Vi afholder ølsmagninger og vinder endog konkurrencer. Vi er rigtig glade for vores bryghus, og det håber vi også, du vil komme til at blive (hvis du ikke allerede er det).</p>
  </div>
</div>
